body {
  text-align: center;
  font-family: Arvo, "Time New Roman", Serif;
  padding-top: 30px;
}
p {
  font-size: 12pt;
}
.tiny {
  font-size: 8pt;
  font-family: Arial, "Sans-Serif";
}
h1.title {
  font-size: 22pt;
  font-family: Arvo, Serif;
  margin-bottom: 20px;
  font-weight: 400;
}
h1.title em {
  font-weight: 600;
}
p.cd-container {
  font-size: 20pt;
  margin: 13px auto;
  float: none;
}
.blurb {
  float: left;
  border: 1px solid #aaa;
  background: #eee;
  padding: 16px 26px 8px;
  text-align: justify;
  width: 570px;
  margin-left: 20px;
}
.blurb p {
  font-size: 11pt;
  font-family: Georgia, "Time New Roman", Serif;
}
section.links p {
  margin-top: 1em;
}
section.main {
  margin: 20px auto 0;
  width: 880px;
  display: block;
}
.cover-image {
  float: left;
  margin: 20px 20px 20px 14px;
}
.clear {
  clear: both;
}
