<html>
<head>
  <title>The Time Traveler's Almanac by Ann and Jeff VanderMeer</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='countdown.min.js') }}"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href='//fonts.googleapis.com/css?family=Arvo|Merriweather' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <script type="text/javascript">
    updateCountdown = function() {
      var cd = countdown( new Date(2014, 2, 18) ).toString();
      $(".countdown").text(cd);
      setInterval(updateCountdown, 1);
    }
    
    $().ready(function() {
      updateCountdown();
    });
  </script>
</head>
<body>
  {% block content %}{% endblock %}
  <p class="tiny" style="margin-top: 2em">
    This is a fan site and is not associated with <em>The Time Traveler's Almanac</em>,
    Tor Books, or Ann and Jeff VanderMeer.
  </p>
</body>
</html>
